<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout = "http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = ~{layout}>
    <main layout:fragment = "main">
        <div class = "mt-3">

            <div class="col-12 mt-4 ">
                <form class ="col-12 row" method="POST" action="/Usuario/BusquedaDinamica">
                    <div class="col-xl-2 col-12 ">
                        <label class="form-labe">Nombre</label>
                        <input class ="form-control rounded-2 border-success border-2 p-1"  th:field="*{usuarioBusqueda.Nombre}" type ="text" style="background-color: #f4f6f6" />
                    </div>   
                    <div class="col-xl-2 col-12 ">
                        <label class="form-labe">Apellido Paterno</label>
                        <input class ="form-control rounded-2 border-success border-2 p-1" th:field ="*{usuarioBusqueda.ApellidoPaterno}"  type ="text" style="background-color: #f4f6f6" />
                    </div> 
                    <div class="col-xl-2 col-12  ">
                        <label class="form-labe">Apellido Materno</label>
                        <input class ="form-control rounded-2 border-success border-2 p-1"  th:field="*{usuarioBusqueda.ApellidoMaterno}" type ="text" style="background-color: #f4f6f6" />
                    </div> 
                    <div class="col-xl-2 col-12  align-middle">
                        <label class = "form-labe ">Rol</label>
                        <select class="form-control form-select form-select-lg mb-3 fs-6 border-success border-2" aria-label="Large select example" th:field="*{usuarioBusqueda.rol.IdRol} " style="background-color: #f4f6f6">
                            <option  value ="0" >Selecciona un Rol</option>
                            <option th:each ="rol : ${roles}" class ="fs-6" th:value = "${rol.IdRol}" th:text = "${rol.Nombre}"></option>
                        </select>
                    </div>
                     <div class="col-xl-2 col-12  align-middle">
                        <label class = "form-labe ">Estatus</label>
                        <select class="form-control form-select form-select-lg mb-3 fs-6 border-success border-2" aria-label="Large select example" th:field="*{usuarioBusqueda.Estatus} " style="background-color: #f4f6f6">
                            <option  value ="-1" selected>Selecciona Estauts</option>
                            <option value ="1" >Activo</option>
                            <option value = "0" >Inactivo</option>
                        </select>
                    </div>
                    <div class = "col-xl-2 col-12 " >                       
                        <button class="col-12 btn btn-outline-info fs-3 mt-4"><i class="bi bi-search"></i></button>
                    </div>
                </form>
            </div>
            <a href="/Usuario/form/0" class="btn btn-outline-success col-xl-2 col-12 fs-3"><i class="bi bi-person-plus"></i></a>   
            <div class = "col-12 table-responsive shadow p-3 mb-5 mt-3 bg-white rounded">
                <table class = "table  border-primary-subtle text-center rounded fs-6">
                    <thead class = "">
                        <tr class = "fs-5">
                            <th class=" text-primary ">Editar</th>
                            <th class = "text-success">Imagen</th>
                            <th class = "text-success">Rol</th>
                            <th class = "text-success">Nombre</th>
                            <th class = "text-success">UserName</th>
                            <th class = "text-success">Contacto</th>
                            <th class = "text-success">Direccion</th>
                            <th class = "text-success">Estado</th>
                            <th class = "text-danger">Eleminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  th:if="${listaUsuario != null}" th:each = "usuarioDireccion :  ${listaUsuario}">
                            <td class = "col-1 align-middle" >
                                <a th:href="@{/Usuario/form/{IdUsuario}(IdUsuario = ${usuarioDireccion.Usuario.IdUsuario})}" class = "btn btn btn-outline-primary fs-3"><i class="bi bi-pencil"></i></a>
                            </td>
                            <td class = "col-1 align-middle " >
                                <div class = "col-12 d-flex justify-content-center">
                                    <img id="previewImage" style="max-width: 100px; max-height: auto"
                                         th:src="${usuarioDireccion.Usuario.Imagen != null} ?
                                         'data:image/png;base64,' + ${usuarioDireccion.Usuario.Imagen} :
                                         'https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"
                                         >
                                </div>
                            </td>
                             <td class = "col-1 align-middle " >
                                <p class ="fw-semibold fs-5" th:text = "${usuarioDireccion.Usuario.rol.Nombre}" ></p>
                            </td>
                            <td class = "col-2 align-middle " >
                                <p th:text = "|${usuarioDireccion.Usuario.Nombre} ${usuarioDireccion.Usuario.ApellidoPaterno} ${usuarioDireccion.Usuario.ApellidoMaterno}|" ></p>
                            </td>
                            <td class = "col-1 align-middle" th:text = "${usuarioDireccion.Usuario.UserName}"></td>
                            <td class = "col-1 align-middle ">
                                <p th:if = "${usuarioDireccion.Usuario.Telefono != null}">
                                    Telefono: <span th:text = "${usuarioDireccion.Usuario.Telefono}"></span>
                                </p>                                
                                <p th:if = "${usuarioDireccion.Usuario.Celular != null}">
                                    Celular: <span th:text = "${usuarioDireccion.Usuario.Celular}"></span>
                                </p>
                                <p th:if = "${usuarioDireccion.Usuario.Email != null}">
                                    Correo: <span th:text = "${usuarioDireccion.Usuario.Email}"></span>
                                </p>
                            </td>
                            <td class = "col-3 align-middle">
                                <p th:if ="${usuarioDireccion.Direcciones == null}"  >No hay direcciones</p>
                                <div class = "overflow-auto" style="height: 150px" th:if ="${usuarioDireccion.Direcciones != null}">
                                    <ul class="list-group" >
                                        <li class="list-group-item  list-group-item-secondary text-wrap"th:each ="direccion : ${usuarioDireccion.Direcciones}" >
                                            <span  th:text = "|${direccion.Calle} ${direccion.NumeroInterior} ${direccion.NumeroExterior}, |" ></span>
                                            <span  th:text = "|${direccion.Colonia.Nombre}, ${direccion.Colonia.CodigoPostal} |" ></span>
                                            <span  th:text = "|${direccion.Colonia.Municipio.Nombre},  |" ></span>   
                                            <span  th:text = "|${direccion.Colonia.Municipio.Estado.Nombre},  |" ></span>  
                                            <span  th:text = "|${direccion.Colonia.Municipio.Estado.Pais.Nombre} |" ></span>  
                                        </li>                                       
                                    </ul>

                                </div>
                            </td> 
                            <td class = "col-1 align-middle" >
                                <div class="col-12 form-check form-switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch" th:id ="${usuarioDireccion.Usuario.IdUsuario}" th:value ="${usuarioDireccion.Usuario.IdUsuario}"  onchange="cambiaEstatus(this)" th:checked="${usuarioDireccion.Usuario.Estatus ==1 ? true : false}">                              
                                </div>

                            </td>
                            <td class = "col-1 align-middle" >
                                <!<!-- Eliminar Usuario -->
                                <button class = "btn btn btn-outline-danger fs-3"  th:id ="${usuarioDireccion.Usuario.IdUsuario}" onclick = "alertaBorrarUsuario(this)"><i class="bi bi-trash3"></i></button>
                            </td>
                        </tr>
                          <tr th:if="${listaUsuario == null}">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td >No hay usuarios</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>                
            </div> 
        </div>
        <!<!-- comment -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="modalAlerta"  hidden> </button>      

        <!-- Modal -->
        <div class="modal fade text-danger" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Alerta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Deseas eliminar el Usuario?                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="cierraModal">No</button>
                        <button type="button" class="btn btn-danger" onclick ='borrarUsuario()' >Si</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var idBandera;

            async function fetchBorrarUsuario(idUsuario) {
                try {
                    const response = await fetch(`/Usuario/UsuarioDelete/${idUsuario}`, {
                        method: 'DELETE',
                        headers: {'Content-type': 'application/json'}
                    });
                    const data = response.json();
                    console.log(data.correct);
                    location.reload();
                } catch {
                    alert("Error");
                }
            }
            function alertaBorrarUsuario(element) {
                idBandera = element.id;
                document.getElementById('modalAlerta').click();
            }
            function borrarUsuario() {
                $("#cierraModal").click();
                console.log(idBandera);
                fetchBorrarUsuario(idBandera);
            }

            async function ActualizaEstado(elemento, Estatus) {
                $.ajax({
                    type: "GET",
                    url: `/Usuario/UsuarioUpdateByEstatus?IdUsuario=${elemento.value}&Estatus=${Estatus}`,
                    dataType: "json",
                    success: (data) => {
                        console.log(data.correct);
                        if (Estatus > 0) {
                            elemento.checked = true;
                        } else {
                            elemento.checked = false;
                        }
                        elemento.disabled = false;
                    },
                    error: () => {
                          if (Estatus > 0) {
                            elemento.checked = false;
                        } else {
                            elemento.checked = true;
                        }
                        elemento.disabled = false;
                        alert("Error en cambiar estatus");
                    }
                });
            }
            function cambiaEstatus(elemento) {
                elemento.disabled = true;
                if (elemento.checked) {
                    console.log("Si");
                    ActualizaEstado(elemento, 1);
                } else {
                    console.log("No");
                    ActualizaEstado(elemento, 0);
                }
            }
        </script> 
    </main>    
</html>
